body{
    font-family: 'Akaya Kanadaka', cursive;
    background-color:rgba(219, 226, 233, 0.8);   
}

h2{
    position: sticky;
}

.btn-default{
    background-color: #393D47;
    color: ghostwhite;
}

.btn-default:focus{
    background-color: #292C33;
    color: ghostwhite;

}

.card{
    background-color:rgba(120, 128, 122, 0.2);
    border: #292C33;

}

footer{
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    }

.main-content{
    box-sizing: content-box;
    width:50%;
    margin: 1rem;
    background-color:rgba(120, 128, 122, 0.2);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
}

.main-content a{
    text-decoration:none;
    color: black;
    /* padding: 100%; */
}
.main-content a:visited{
    color: black;
}

h1{
      font-size: 60px;
  }