<!DOCTYPE html>
<html lang="kn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ಮುಖ್ಯ ಪುಟ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
</head>
<body class="bg-body-tertiary">  
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
        <div class="card w-50 shadow-sm bg-light-subtle mb-5 main-card">
            <div class="card-body w-100 p-0">
                <a class="w-100 h-100 d-flex align-items-center justify-content-center fs-1 fw-bold" href="/FDInterestCalculator">ಸ್ಥಿರ ಠಾವಣಿ ಲೆಕ್ಕಯಂತ್ರ</a>
            </div>
        </div>
        <div class="card w-50 shadow-sm bg-light-subtle mt-5 main-card">
            <div class="card-body w-100 p-0">
                <a class="w-100 h-100 d-flex align-items-center justify-content-center fs-1 fw-bold" href="/loanCalculator">ಮರುಪಾವತಿ ಲೆಕ್ಕಯಂತ್ರ</a>
            </div>
        </div>
    </div>    
    <!-- <div class = "main">
            <heading> 
                <h1>ಲೆಕ್ಕಯಂತ್ರಗಳು</h1>
            </heading>
            
            <section class = "main-content" id="item-1">
                <a href="/loanCalculator"><h4>ಮರುಪಾವತಿ ಲೆಕ್ಕಯಂತ್ರ</h4></a>    
            </section>

            <section class = "main-content" id="item-2">
                
            </section>
        </div> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>